<?xml version="1.0" encoding="utf-8"?>
<manifest package="fhnav.gui"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:allowBackup="true">

        <activity
            android:name="fhnav.gui.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="fhnav.gui.Menu"
            android:label="@string/app_name"/>
        <activity
            android:name="fhnav.gui.ShowExtras"
            android:label="@string/app_name"/>
        <activity
            android:name="fhnav.gui.Wizard"
            android:label="@string/app_name"/>
        <activity
            android:name="fhnav.gui.AdaptStundenplan"
            android:label="@string/app_name"/>
        <activity
            android:name="fhnav.gui.AddVorlesung"
            android:label="@string/app_name"/>
        <activity
            android:name="fhnav.gui.Settings"
            android:label="@string/app_name"/>
        <activity
            android:name="fhnav.gui.Navigation"
            android:label="@string/app_name"/>


        <service
            android:name="fhnav.gui.service.AktuellesNotificationService"
            android:enabled="true"
            android:process=":aktuelles_notifier"/>

        <receiver android:name="fhnav.gui.receiver.AktuellesBroadcastReceiver">
            <intent-filter>
                <action android:name="FHNav.aktuellesbroadcast"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
